@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");


@import 'tailwindcss';
@plugin 'daisyui';





.wrapper {
  @apply w-full mx-auto py-10 px-4 md:py-5 md:px-14 lg:px-40 overflow-x-hidden;
}